<!DOCTYPE html>
<html ng-app="midwayMeasures">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | Web Production Measures</title>
    <link rel="stylesheet" href="/Content/css/bootstrap.css"/>
    <link rel="stylesheet" href="/Content/css/Site.css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://api.trello.com/1/client.js?key=aaaccf39e74da6f15762c374cbcb5888"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    @Scripts.Render("~/Scripts/angularfire.min.js")
    @Scripts.Render("~/Scripts/ChartJS/Chart.js")
    @Scripts.Render("~/Scripts/ChartJS/Chart.Line.js")
    @Scripts.Render("~/Scripts/Later.min.js")
    @Scripts.Render("~/Scripts/app.js")
    @Scripts.Render("~/Scripts/Site.js")
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/1.4.5/numeral.min.js"></script>
</head>
<body ng-controller="mmCtrl" class="logged-out">
    <div class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="" href="@Url.Action("Index", "Home", new { area = "" })">
                    <img src="//media.midwayusa.com/images/header/midwayusa_logo_282x154.png" height="53">
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="top-nav-item">@Html.ActionLink("Bug Report", "BugReport", "Home")</li>
                    <li class="top-nav-item admin-content">@Html.ActionLink("Admin", "Admin", "Home")</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="right-nav-item logged-in-content"><a href="#" data-logout>Log Out</a></li>
                    <li class="right-nav-item logged-out-content"><a href="#" data-login>Log In</a></li>
                    <li class="right-nav-item logged-out-content"><a href="#" data-register>Register</a></li>
                    <li class="right-nav-item logged-in-content"><a href="/Home/Me"><i class="glyphicon glyphicon-user"></i><span data-firstname></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="alert alert-success hidden" data-success>
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Success!</strong> <span data-success-message></span>
        </div>
        <div class="alert alert-danger hidden" data-error>
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            <strong>Error: </strong> <span data-error-message></span>
        </div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MidwayUSA</p>
        </footer>
    </div>
    <div class="modal fade" data-login-modal>
        <div class="modal-dialog">
            <div class="modal-content">
                <form data-login-form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Log In</h4>
                    </div>
                    <div class="modal-body">

                        <label>
                            Email Address:
                            <input type=email required data-login-email/>
                        </label>
                        <label>
                            Password:
                            <input type=password required data-login-password/>
                        </label>
                        <a href="#" data-reset-pass>Get temporary password.</a>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Log In</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" data-register-modal>
        <div class="modal-dialog">
            <div class="modal-content">
                <form data-register-form>
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Register</h4>
                    </div>
                    <div class="modal-body">
                        <label>
                            First Name:
                            <input type=text required data-register-fname />
                        </label>
                        <label>
                            Last Name:
                            <input type=text required data-register-lname />
                        </label>
                        <label>
                            Email Address:
                            <input type=email required data-register-email />
                        </label>
                        <label>
                            Password:
                            <input type=password required data-register-password />
                        </label>
                        <label>
                            Position:
                            <select required data-register-position>
                                <option></option>
                                <option>Web Designer</option>
                                <option>Web Developer</option>
                            </select>
                        </label>
                        <label>
                            Team:
                            <select required data-team-list data-register-team>
                                <option></option>
                            </select>
                        </label>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    @RenderSection("scripts", required: false)
</body>
</html>
